# Build

bin/
obj/

# User files

*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio

.vs/

# Logs

*.log

# OS

.DS_Store
Thumbs.db

# Rider

.idea/

# VSCode

.vscode/

# NuGet

*.nupkg
packages/

# EF migrations snapshot temp

*.dbmdl

# publish

publish/

# secrets

secrets.json
